<div class="row">
    <div id="instruction" class="col-xs-8 col-xs-pull-2 col-xs-push-2 bg-cover">
        <div class="col-xs-4">
            <a href="#" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Submit text">
                <img src="img/submit.png" class="img-responsive center-block"></img>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Process text">
                <img src="img/process.png" class="img-responsive center-block"></img>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Target tag">
                <img src="img/target.png" class="img-responsive center-block"></img>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div id="about" class="col-xs-8 col-xs-pull-2 col-xs-push-2 bg-cover">
        <img src="img/ready.png" class="img-responsive center-block"></img>
    </div>
</div>

<div class="row">
    <div class="btnWrapper">
        <button id="btnStart" type="button" class="btn btn-warning">S T A R T</button>
    </div>
</div>
<script>
    $('[data-toggle="popover"]').popover();
    
    $("#btnStart").click(function () {
        $("#wrapper").load("submit.html");
    });
</script>