<div class="col-xs-8 col-xs-pull-2 col-xs-push-2">
    <form id="formWrapper" role="form" method="post" enctype="multipart/form-data" action="tokenizer.py">
        <div id="fileWrapper" class="col-xs-8 col-xs-pull-2 col-xs-push-2">
            <h4>Choose your text</h4>
            <div id="selectFile" class="input-group has-feedback">
                <label class="input-group-btn">
                    <span class="btn btn-info">
                        Browse <input id="inputFile" type="file" style="display: none;" name="textFile">
                    </span>
                </label>
                <div>
                    <input id="inputText" type="text" class="form-control" readonly>
                    <span id="icon" class="glyphicon form-control-feedback"></span>
                </div>
            </div>
            <span class="help-block"></span>
        </div>
        <div class="col-xs-8 col-xs-pull-2 col-xs-push-2">
            <div class="col-xs-4 col-xs-push-1">
                <button id="btnReturn" type="button" class="btn btn-warning"> R E T U R N </button>
            </div>
            <div class="col-xs-4 col-xs-push-4">
                <button id="btnSubmit" type="button" class="btn btn-warning"> S U B M I T! </button>
            </div>
        </div>
    </form>

    <div id="barWrapper" class="col-xs-8 col-xs-pull-2 col-xs-push-2" style="display:none;">
        <div class="progress">
            <div id="prog" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                Uploading...
            </div>
        </div>
    </div>

    <div id="rsltWrapper" class="col-xs-8 col-xs-pull-2 col-xs-push-2" style="display:none;">
        <form id="formTokenWrapper" role="form" method="post" enctype="multipart/form-data" action="tagger.py">
            <div class="row">
                <div id="tokenWrapper" align="center"></div>
            </div>

            <div class="row">
                <div class="btnWrapper">
                    <button id="btnTag" type="button" class="btn btn-warning">T A G - I T!</button>
                </div>
            </div>
        </form>
    </div>
    <div id="tagWrapper" class="col-xs-8 col-xs-pull-2 col-xs-push-2" style="display:none;">
        <div class="row">
            <div id="tags" class="jumbotron alert-success">
                
            </div>
            <div class="row">
                <div class="btnWrapper">
                    <button id="btnRestart" type="button" class="btn btn-warning">Restart ?</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var isTextValid = false;

        $("#inputFile").on("change", function () {

            var file = $("inputFile").val();

            //Updating the inputText to show user the selected file name
            var fileName = $('input[type=file]').val().split('\\').pop();
            $("#inputText").val(fileName);


            //VALIDATION OF FILE
            //Get the extension of the selected file 
            var ext = $('#inputFile').val().split('.').pop().toLowerCase();

            //validate the input file type (only txt files)
            if ($.inArray(ext, ['txt']) == -1) {
                isTextValid = false;

                //change visual of inputText and help-block
                $("#selectFile").addClass("has-error");
                $("#icon").addClass("glyphicon-remove");
                $(".help-block").html("Text files only ('.txt')");
            } else {
                isTextValid = true;

                //remove visual of inputText and help-block
                $("#selectFile").removeClass("has-error");
                $("#icon").removeClass("glyphicon-remove");
                $(".help-block").html("");
            }

        });

        $("#btnSubmit").click(function (event) {
            if (isTextValid) {

                //prevent default form handling
                event.preventDefault();

                //Convert file to formData object
                var formData = new FormData($("#inputFile")[0]);
                formData.append('file', $('#inputFile')[0].files[0]);

                if (formData) {
                    $.ajax({
                        beforeSend: function () {
                            $('#formWrapper').hide();
                            $('#barWrapper').show();
                        },
                        xhr: function () {

                            var xhr = new window.XMLHttpRequest();

                            xhr.upload.addEventListener("progress", function (e) {

                                if (e.lengthComputable) {
                                    var percent = Math.round((e.loaded / e.total) * 100);
                                    $("#prog").attr("aria-valuenow", percent).css("width", percent + "%").text(percent + "%");
                                }

                            });

                            return xhr;
                        },
                        type: "POST",
                        url: "tokenizer.py",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            $('#barWrapper').hide();
                            $("#rsltWrapper").show();
                            $("#tokenWrapper").html(response);
                            console.log("file uploaded!");

                        }
                    });
                }
            } else {
                $("#selectFile").addClass("has-error");
                $("#icon").addClass("glyphicon-remove");

                if ($("#inputFile").val() == "") {
                    $(".help-block").html("No text file selected");
                } else {
                    $(".help-block").html("Text files only ('.txt')");
                }
            }
        });

        $("#btnReturn").click(function () {
            $("#wrapper").load("about.html");
        });

        $('#btnTag').click(function (event) {
            //prevent default form handling
            event.preventDefault();

            var info = $('#inputTokens').text();
            var formData = new FormData();
            formData.append("inputTokens", info)

            $.ajax({
                beforeSend: function () {
                    $("#taggitt").attr("src", "img/Title.gif");
                    $("#prog").text("Tagging...");
                    $('#rsltWrapper').hide();
                    $('#barWrapper').show();

                },
                type: "POST",
                url: "tagger.py",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#barWrapper').hide();
                    $("#tagWrapper").show();
                    $("#taggitt").attr("src", "img/Title4.png");
                    $("#tags").html(response);
                    console.log("file uploaded!");

                }
            });

        });

        $("#btnRestart").click(function () {
            $("#taggitt").attr("src", "img/Title.png");
            $("#wrapper").load("about.html");
        });
    </script>