body {
    background-color: rgb(161, 199, 69) !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}

li {
    display: inline;
}

.bg-black {
    background-color: black;
}

.bg-cover {
    background-color: rgb(161, 199, 69);
}

.bg-cover-light {
    background-color: rgb(190, 234, 84);
}

#instruction {
    margin-bottom: 2%;
}

.btnWrapper {
    text-align: center;
}

#startBtn {
    padding-bottom: 5%;
}

#fileWrapper {
    margin-top: 2%;
    padding: 3%;
}

#barWrapper {
    margin-top: 5%;
    padding: 3%;
}

#rsltWrapper {
    margin-top: 5%;
}

#btnTag{
    margin-top: 3%;
}

#btnRestart{
    margin-top: 2%;
}

.cloud1 {
    color:midnightblue;
    font-size: 0.7em;
}

.cloud2 {
    color:dodgerblue;
    font-size: 1em;
}

.cloud3 {
    color:lightskyblue;
    font-size: 2em;
}

.cloud4 {
    color:white;
    font-size: 3em;
}

.cloud5 {
    color:white;
    font-size: 4em;
}

#tags{
    font-size: 2.5em;
    text-align: center;
}